footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
}
