header {
  background-color: rgba(241, 241, 241, 0.151);
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: poppins;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(5px); /* Apply blur effect */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out items horizontally */
}

.logo {
  height: 40px;
  padding-left: 1.8rem;
  transition: transform 0.3s; /* Smooth transition for hover effect */
  display: flex;
  align-items: center; /* Center logo vertically */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add shadow to logo */
}

.logo:hover {
  transform: scale(1.08); /* Make the logo slightly bigger on hover */
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the nav links to the right */
}

.h-text {
  font-size: 20px;
  backdrop-filter: none; /* Exclude text from blur effect */
  padding-right: 50px;
  transition: all 0.5s;
  text-decoration: none;
  color: aliceblue;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.h-text:hover {
  color: #ffef95;
  cursor: pointer;
  transition: all 0.5s;
}

.h-text:nth-child(2) {
  padding-right: 50px; /* Ensure "about us" is in the same column */
}

.h-text:nth-child(4) {
  padding-right: 100px; /* Add padding to the right of the "shop" text */
}